.login-wrapper {
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    height: 80vh;
}

.login {
    display: flex;
    justify-content: center;
    color: black;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 90%;
    border-radius: 10px;
    padding: 3rem;
}

.login.darkmode {
    background-color: #292929;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.p-float-label {
    margin-bottom: 2rem;
}