body {
    margin: 0;
    background-color: $neutral-background-color;
    padding: 0;
    margin: 0;
    background-color: $background-color;
    color:$text-color-darkmode;
    font-family: $font;
    font-size: large;
}

body.darkmode {
    color: $text-color-darkmode;
    background-color: $neutral-background-color-darkmode;
}