body {
    margin: 0;
    padding: 0;
    margin: 0;
    font-family: $font;
    font-size: large;
    color: $text-color;
}

.background-img {
    max-height: 100vh;
    overflow: hidden;
}

.background-img .img {
    z-index: -1;
    position: fixed;
    object-position: 0 -20vh;
}