/* header */

.header-wrapper {
    display: flex;
    justify-content: center;

    .header {
        background-color: $main-color;
        box-shadow: $shadow;
        position: fixed;
        width: 95%;
        z-index: 3;
        padding: 1rem;
        margin: 1rem;
        border-radius: 10px;

        &.darkmode {
            background-color: $main-color;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            overflow: hidden;
        }

        li a {
            display: block;
            padding: 20px 20px;
            text-decoration: none;
            color: $text-color;
            border: none;
            border-radius: 10px;
        }

        &.darkmode li,
        &.darkmode .logo,
        &.darkmode li a {
            color: black;
            background-color: $main-color;
        }

        .logo:hover,
        li a:hover,
        .menu-btn:hover {
            background-color: $dark-color;
        }

        &.darkmode .logo:hover,
        &.darkmode li a:hover,
        &.darkmode .menu-btn:hover {
            background-color: $dark-color;
        }

        .logo {
            display: block;
            float: left;
            font-size: 2em;
            padding: 10px 20px;
            text-decoration: none;
            color: $text-color;
            border-radius: 10px;
        }

        // menu
        .menu {
            clear: both;
            max-height: 0;
            transition: max-height .2s ease-out;
        }

        // menu icon
        .menu-icon {
            cursor: pointer;
            float: right;
            padding: 28px 20px;
            position: relative;
            user-select: none;

            .navicon {
                background: #333;
                display: block;
                height: 2px;
                position: relative;
                transition: background .2s ease-out;
                width: 18px;

                &:before,
                &:after {
                    background: #333;
                    content: '';
                    display: block;
                    height: 100%;
                    position: absolute;
                    transition: all .2s ease-out;
                    width: min(90%, 70rem);
                }

                &:before {
                    top: 5px;
                }

                &:after {
                    top: -5px;
                }
            }
        }

        &.darkmode .menu-icon .navicon,
        &.darkmode .menu-icon .navicon:before,
        &.darkmode .menu-icon .navicon:after {
            background: $text-color;
        }

        // menu btn
        .menu-btn {
            display: none;

            &:checked ~ .menu {
                max-height: 300px;
            }

            &:checked ~ .menu-icon .navicon {
                background: transparent;

                &:before {
                    transform: rotate(-45deg);
                }

                &:after {
                    transform: rotate(45deg);
                }
            }

            &:checked ~ .menu-icon:not(.steps) .navicon {
                &:before,
                &:after {
                    top: 0;
                }
            }
        }

        @media (min-width: 48em) {
            li {
                float: left;

                a {
                    padding: 20px 30px;
                }
            }

            .menu {
                clear: none;
                float: right;
                max-height: none;
            }

            .menu-icon {
                display: none;
            }
        }
    }

    @media (min-width: 48em) {
        .user-login-animation {
            background-size: 100% 200%; 
            background-image: linear-gradient(to bottom, $main-color 50%, #292929 50%);
            transition: 
            background-position .5s ease-in-out, 
            color .4s ease-in-out;

            &:hover,
            &:focus {
                background-position: 0 100%;
                color: $text-color-darkmode !important;
            }
        }
    }
}