.header {
    margin: 0;
    height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.header-links a {
    margin-right: 3rem;
}

.logo {
    font-family: "WindSong", cursive;
    // font-size: xx-large;
    font-size: 3rem;
}

.logo,
a {
    color: $text-color-darkmode;
    text-decoration: none;
}
.logo:hover,
a:hover {
    color: $hover-color;
}
.background-img {
    max-height: 100vh;
    overflow: hidden;
}

.background-img .img {
    z-index: -1;
    position: fixed;
    object-position: 0 -20vh;
}
