.home-wrapper {
    margin-top: 10rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    height: 200vh;
    
    .home {
        width: 90%;
        border-radius: 10px;
        background-color: $content-background-color;
        padding: 3rem;
        box-shadow: $shadow;
        
        &.darkmode {
            background-color: $content-background-color-darkmode;
        }
    }
}