.login-wrapper {
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    height: 80vh;
    
    .login {
        display: flex;
        justify-content: space-around;
        color: $text-color;
        background-color: $content-background-color;
        box-shadow: $shadow;
        width: 90%;
        border-radius: 10px;
        padding: 3rem;
        
        &.darkmode {
            background-color: $content-background-color-darkmode;
            color: $text-color-darkmode;
        }
    }

    .register-now {
        margin-top: 2rem;

        a {
            color: $main-color;
        }
        a:hover {
            color: $dark-color;
        }

    }

    .optional {
        margin-top: 1rem;
        font-size: small;
    }

    .login-header {
        margin-bottom: 3rem;
    }
    
    .login-form {
        display: flex;
        flex-direction: column;
    }
    
    .p-float-label {
        margin-bottom: 2rem;
    }
    
    .login-checkbox {
        color:$text-color;
        
        &.darkmode {
            color: $text-color-darkmode;
        }
    }
    
    .submit-btn {
        margin-top: 2rem;
    }
}

@media (max-width: 48em) {
    .login-wrapper .login {
        display: block;
        
        .login-form {
            margin-bottom: 3rem;
        }

    }
}