.register,
.login {
    display: flex;
    justify-content: space-around;

    .register-form,
    .login-form {
        display: flex;
        flex-direction: column;

        .register-header,
        .login-header {
            margin-bottom: 3rem;
        }

        .p-float-label {
            margin-bottom: 2rem;
        }

        .register-checkbox,
        .login-checkbox {
            color:$text-color;
        }    

        .login-now a,
        .register-now a {
            color: $hover-color;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        .remember-me-checkbox {
            margin-bottom: 2rem;

        }
    }

    .register-form {
        
        .register-content {
            display: flex;

            > div {
                margin-right: 3rem;
            }
        }
    }
}

@media (max-width: $breakpoint) {
    .register {
        .register-form {
            .register-content {
                flex-direction: column;
            }
        }
    }
}