.p-checkbox {

    .p-checkbox-box {
        border-radius: 6px;
        background-color: $neutral-background-color !important;

        &.p-highlight {
            border-color: $main-color;
            color: $dark-color !important;
            background-color: $main-color !important;
        }
        &.p-highlight:hover {
            border-color: $dark-color !important;
        }

        .p-checkbox-icon {
            color: $text-color;
        }
    }

    &:not(.p-checkbox-disabled) {

        .p-checkbox-box.p-highlight:hover {
            border-color: $dark-color !important;
        }

        .p-checkbox-box:hover {
            border-color: $dark-color !important;
        }

        .p-checkbox-box.p-focus {
            border-color: $main-color;
            box-shadow: 0 0 0 0.2rem $light-color;
        }
        .login-checkbox.darkmode & .p-checkbox-box.p-focus {
            border-color: $dark-color;
            box-shadow: 0 0 0 0.2rem $main-color;
        }
    }

    .login-checkbox.darkmode & .p-checkbox-box {
        background-color: $content-background-color-darkmode !important;
        border-color: $input-border-color-darkmode;
    }
    .login-checkbox.darkmode & .p-checkbox-box.p-highlight {
        background-color: $main-color !important;
    }
}