.p-checkbox {

    .p-checkbox-box {
        border-radius: 0;
        background-color: $background-color-content;
        border-color: $text-color;

        &.p-highlight {
            border-color: $hover-color;
            background-color: $background-color-content;
        }
        &.p-highlight:hover {
            border-color: $hover-color !important;
        }

        .p-checkbox-icon {
            color: $hover-color;
        }
    }

    &:not(.p-checkbox-disabled) {

        .p-checkbox-box.p-highlight:hover {
            border-color: $text-color !important;
            background-color: $background-color-content;

            & > span {
                color:$text-color;
            }
        }

        .p-checkbox-box:hover {
            border-color: $hover-color !important;
        }

        .p-checkbox-box.p-focus {
            border-color: $hover-color;
            box-shadow: 0 0 0 0.2rem $focus-color;
        }
    }

}