.inputText {
    background-color: $neutral-background-color;
    border-radius: 10px;

    &:hover {
        border-color: $main-color !important;
    }
    &:focus {
        box-shadow: 0 0 0 0.2rem $light-color !important;
        border-color: $main-color !important;
    }

    &.darkmode {
        background-color: $content-background-color-darkmode;
        border-color: $input-border-color-darkmode;
        color: $text-color-darkmode;
    
        &:focus {
            box-shadow: 0 0 0 0.2rem $main-color !important;
            border-color: $dark-color !important;
        }
    }
}

.p-float-label.darkmode > label {
    color: $input-border-color-darkmode !important;
}