.inputText {

    font-family: $font;

    &.inputText-register,
    &.inputText-login {
        background-color: $background-color-content;
        border: none;
        border-bottom: solid $hover-color 2px;
        border-radius: 0;
        color: $text-color;

        &:hover {
            border-color: $text-color;
        }

        &:focus {
            border-color: $hover-color;
            box-shadow: 0 0 0 0.2rem $focus-color;
        }
    }

}