:root {
    /* Lightmode */
    --main-color: #c5e1a5;
    --light-color: #f8ffd7;
    --dark-color: #94af76;

    /* Darkmode */
    --main-color-darkmode: #1c2017;
    --light-color-darkmode: #23241e;
    --dark-color-darkmode: #151911;
}

.p-toast .p-toast-message.p-toast-message-success {
    background-color: var(--main-color);
    border-color: var(--light-color);
    color: var(--main-color-darkmode);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}