:root {
    /* Lightmode */
    --main-color: #c5e1a5;
    --light-color: #f8ffd7;
    --dark-color: #94af76;

    /* Darkmode */
    --main-color-darkmode: #1c2017;
    --light-color-darkmode: #23241e;
    --dark-color-darkmode: #151911;
}

.menu-buttons {
    position: fixed;
    right: 3rem;
    bottom: 3rem;
}

.menu-buttons .btn {
    width: 4rem;
    height: 4rem;
    border-radius: 10px;
    color: black;
    /* background-color: #ef9a9a !important; */
    background-color: var(--main-color) !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
    transition: transform .5s ease-in-out, background-color .5s ease-in-out;
}

.menu-buttons .btn.darkmode {
    color: black;
    /* color: white; */
    /* background-color: #221616 !important; */
    background-color: var(--main-color) !important;
}

.menu-buttons .btn:hover {
    transform: scale(1.3);
    color: black !important;
    /* background-color: #ba6b6c !important; */
    background-color: var(--dark-color) !important;
}

.menu-buttons .btn.darkmode:hover {
    transform: scale(1.3);
    color: black !important;
    /* color: white !important; */
    /* background-color: #1a0f0f !important; */
    background-color: var(--dark-color) !important;
}