// Lightmode
    $main-color: #c5e1a5;
    $light-color: #f8ffd7;
    $dark-color: #94af76;

    // $input-border-color: #ced4da;

    $neutral-background-color: white;
    $content-background-color: white;

    // $text-color: black;

// Darkmode
    $main-color-darkmode: #1c2017;
    $light-color-darkmode: #23241e;
    $dark-color-darkmode: #151911;

    $input-border-color-darkmode: #a4afba;

    // $neutral-background-color-darkmode: #4a4a4a;
    $content-background-color-darkmode: #292929;
    
    $text-color-darkmode: white;
    
    // General
    $shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    // For Rework
    $font: "Josefin Sans", sans-serif;

    $neutral-background-color-darkmode: #0d0d0d;
    $background-color: #0d0d0d;
    $text-color: white;
    // $background-color-content: rgba(128, 128, 128, 0.1);
    $background-color-content: #191919;
    $box-shadow: 1rem 0 3rem black;
    $input-border-color: black;

// Event
    $hover-color: orange;
    $focus-color: rgb(253, 223, 166);


