    
// General
    $shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    $font: "Josefin Sans", sans-serif;
    $font-logo: "WindSong", cursive;

    $neutral-background-color-darkmode: #0d0d0d;
    $background-color: #0d0d0d;
    $text-color: white;
    // $background-color-content: rgba(128, 128, 128, 0.1);
    $background-color-content: #191919;
    $box-shadow: 1rem 0 3rem black;
    $input-border-color: black;

// Event
    $hover-color: orange;
    $focus-color: rgb(253, 223, 166);

    $breakpoint: 50em;


